.stackedCanvasWrapper {
    position: relative;
}

.stackedCanvasWrapper canvas {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.audioLinkWrapper {
    text-align: center;
    position: relative;
}

.audioLinkWrapper u a {
    position: absolute;
    transform: translateX(-50%);
}